.text-active {
  color: #425486;
  font-weight: bold;
}
.shadow {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(19, 51, 104, 0.2);
}
.list-group-item {
  height: 4.2rem;
  text-decoration: none;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #a1a9c3;
}
