<div class="container">
  <div class="card jh-card" *jhiHasAnyAuthority="['ROLE_ADMIN']">
    <h2 id="page-heading" data-cy="ReservationHeading">
      <span jhiTranslate="heybusApp.reservation.home.title">Reservations</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="heybusApp.reservation.home.refreshListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-reservation"
          [routerLink]="['/customer/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="heybusApp.reservation.home.createLabel"> Create a new Reservation </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reservations?.length === 0">
      <span jhiTranslate="heybusApp.reservation.home.notFound">No reservations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reservations && reservations.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="id">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="dateDeReservation">
              <span jhiTranslate="heybusApp.reservation.dateDeReservation">Date De Reservation</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="nbrePassagers">
              <span jhiTranslate="heybusApp.reservation.nbrePassagers">Nbre Passagers</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="prixReservation">
              <span jhiTranslate="heybusApp.reservation.prixReservation">Prix Reservation</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="voyage.id">
              <span jhiTranslate="heybusApp.reservation.voyage">Voyage</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="customer.email">
              <span jhiTranslate="heybusApp.reservation.customer">Customer</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/reservation', reservation.id, 'view']">{{ reservation.id }}</a>
            </td>
            <td>{{ reservation.dateDeReservation | formatMediumDate }}</td>
            <td>{{ reservation.nbrePassagers }}</td>
            <td>{{ reservation.prixReservation }}</td>
            <td>
              <div *ngIf="reservation.voyage">
                <a [routerLink]="['/voyage', reservation.voyage?.id, 'view']">{{ reservation.voyage?.id }}</a>
              </div>
            </td>
            <td>
              <div *ngIf="reservation.customer">
                <a [routerLink]="['/customer', reservation.customer?.id, 'view']">{{ reservation.customer?.email }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/reservation', reservation.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/reservation', reservation.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                  *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TRANSPORTEUR']"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button
                  type="submit"
                  (click)="delete(reservation)"
                  class="btn btn-danger btn-sm"
                  data-cy="entityDeleteButton"
                  *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TRANSPORTEUR']"
                >
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="reservations && reservations.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>

  <!-- Liste reservations -->
  <div class="row mt-3">
    <div class="col-xs-12 col-md-4">
      <jhi-sidebar></jhi-sidebar>
    </div>
    <div class="col-xs-12 col-md-8 mt-3">
      <div class="row justify-content-center">
        <div class="col-xs-4 col-md-5 text-center">
          <h5 class="text-black font-weight-bold">Trajets à venir</h5>
        </div>
        <div class="line text-center col-xs-4" style="height: 30px"></div>
        <div class="col-xs-4 col-md-5 text-center">
          <h5 class="text-black font-weight-bold">Trajets effectués</h5>
        </div>
        <div
          class="shadow pt-3 px-3 mb-4 bg-white col-md-12 mt-3"
          style="max-width: 50rem"
          *ngFor="let reservation of reservations; trackBy: trackId"
        >
          <div>
            <small
              >{{ reservation.voyage?.dateDeVoyage?.format('dddd') }} {{ reservation.voyage?.dateDeVoyage?.date() }}
              {{ reservation.voyage?.dateDeVoyage?.format('MMMM') }}</small
            >
            <div class="circle-left"></div>
            <hr class="line-horizontal" />
            <div class="circle-right float-right"></div>
          </div>
          <div class="card-body row">
            <div class="col-xs-12 col-md-7">
              <small>
                <fa-icon icon="circle" class="text-secondary fa-lg mr-2"></fa-icon>
              </small>
              <span class="text-black">
                <strong>{{ reservation.voyage?.dateDeVoyage?.format('HH') }}:{{ reservation.voyage?.dateDeVoyage?.format('mm') }}</strong>
                {{ reservation.voyage?.departVille?.nom }}
                <fa-icon
                  icon="info-circle"
                  class="text-danger"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{{ reservation.voyage?.adresseDepart }}"
                ></fa-icon>
              </span>
              <div class="line text-center col-xs-4 ml-2">
                <p style="padding: 15px; white-space: nowrap; color: #a1a9c3">4h &nbsp; &nbsp; &nbsp; &nbsp; Direct</p>
              </div>
              <small>
                <fa-icon icon="map-marker-alt" class="text-secondary fa-lg ml-1 mr-2"></fa-icon> </small
              ><span class="text-black">
                <strong>{{ reservation.voyage?.dateArrivee?.format('HH') }}:{{ reservation.voyage?.dateArrivee?.format('mm') }}</strong>
                {{ reservation.voyage?.arriveVille?.nom }}
                <fa-icon
                  icon="info-circle"
                  class="text-danger"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{{ reservation.voyage?.adresseArrive }}"
                ></fa-icon>
              </span>
            </div>
            <div class="col-xs-12 col-md-5">
              <h3 class="text-right font-weight-bold">{{ reservation.voyage?.prix }}FCFA</h3>
              <div class="float-right">
                <small *ngIf="reservation.voyage?.wifi">
                  <fa-icon icon="wifi" class="text-secondary fa-sm" title="WIFI"></fa-icon>
                </small>
                <small *ngIf="reservation.voyage?.toilette">
                  <fa-icon icon="toilet" class="text-secondary fa-sm" title="Cabine Toilette"></fa-icon>
                </small>
                <small *ngIf="reservation.voyage?.climatisation">
                  <fa-icon icon="fan" class="text-secondary fa-sm" title="Climatiseur"></fa-icon>
                </small>
                <small style="color: #a1a9c3">{{ reservation.voyage?.transporteur?.nom }}</small>
                <fa-icon icon="star" style="color: #a1a9c3"></fa-icon><small style="color: #a1a9c3"> 4,5</small> <br />
                <div class="float-right mt-2">
                  <button type="submit" (click)="ticket(reservation)" class="btn btn-simple font-weight-bold" data-cy="entityDeleteButton">
                    Voir billet
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="reservations && reservations.length > 0">
          <div class="row justify-content-center">
            <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"> </jhi-item-count>
          </div>

          <div class="row justify-content-center">
            <ngb-pagination
              [collectionSize]="totalItems"
              [(page)]="ngbPaginationPage"
              [pageSize]="itemsPerPage"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="loadPage($event)"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
