<div class="row">
  <div class="table-responsive" id="entities" *ngIf="voyages && voyages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.voyage.prix">Prix</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.voyage.dateDeVoyage">Date De Voyage</span></th>
         
          <th scope="col"><span jhiTranslate="heybusApp.voyage.departVille">Depart Ville</span></th>
          <th scope="col"><span>Adresse Depart</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.voyage.arriveVille">Arrive Ville</span></th>
          <th scope="col"><span>Adresse Arrive</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.voyage.transporteur">Transporteur</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.voyage.employe">Employe</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.voyage.arret">Arret</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.voyage.vehicule">Vehicule</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.voyage.climatisation">Climatisation</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.voyage.wifi">Wifi</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.voyage.toilette">Toilette</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voyage of voyages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/voyage', voyage.id, 'view']">{{ voyage.id }}</a>
          </td>
          <td>{{ voyage.prix }}</td>
          <td>{{ voyage.dateDeVoyage | formatMediumDatetime }}</td>
          <!-- <td>{{ voyage.nbrePlace }}</td>
            <td>{{ voyage.quartier }}</td>
            <td>{{ voyage.description }}</td> -->
          <td>
            <div *ngIf="voyage.departVille">
              <a [routerLink]="['/ville', voyage.departVille?.id, 'view']">{{ voyage.departVille?.nom }}</a>
            </div>
          </td>
          <td>{{ voyage.adresseDepart }}</td>
          <td>
            <div *ngIf="voyage.arriveVille">
              <a [routerLink]="['/ville', voyage.arriveVille?.id, 'view']">{{ voyage.arriveVille?.nom }}</a>
            </div>
          </td>
          <td>{{ voyage.adresseArrive }}</td>
          <td>
            <div *ngIf="voyage.transporteur">
              <a [routerLink]="['/transporteur', voyage.transporteur?.id, 'view']">{{ voyage.transporteur?.nom }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let employe of voyage.employes; let last = last">
              <a class="form-control-static" [routerLink]="['/employe', employe.id, 'view']">{{ employe.nom }}</a>{{
              last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let arret of voyage.arrets; let last = last">
              <a class="form-control-static" [routerLink]="['/arret', arret.id, 'view']">{{ arret.id }}</a>{{ last ? ''
              : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="voyage.vehicule">
              <a [routerLink]="['/vehicule', voyage.vehicule?.id, 'view']">{{ voyage.vehicule?.reference }}</a>
            </div>
          </td>
          <td>
            <span *ngIf="voyage.climatisation" class="badge badge-pill badge-success">Oui</span>
            <span *ngIf="!voyage.climatisation" class="badge badge-pill badge-warning">Non</span>
          </td>
          <td><span *ngIf="voyage.wifi" class="badge badge-pill badge-success">Oui</span>
            <span *ngIf="!voyage.wifi" class="badge badge-pill badge-warning">Non</span>
          </td>
          <td> <span *ngIf="voyage.toilette" class="badge badge-pill badge-success">Oui</span>
            <span *ngIf="!voyage.toilette" class="badge badge-pill badge-warning">Non</span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/reservation/new/voyage', voyage.id, 'passagers', nbrePassagers]" class="btn btn-success btn-sm"
                data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Reserver</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="voyages && voyages.length === 0">
    <p>Aucun resultat</p>
  </div>
  
</div>
