/* ==========================================================================
Search page styles
========================================================================== */


.input-heybus{
  border-radius: 8px;
  background-color: #F1F2F6;
}
.button-heybus{
  opacity: 0.6;
  border-radius: 8px;
  background-color: #FF1B2E;
  color: #FFFFFF;
  letter-spacing: 0;

}