<div>
  <h2 id="page-heading" data-cy="PaysHeading">
    <span jhiTranslate="heybusApp.pays.home.title">Pays</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="heybusApp.pays.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pays"
        [routerLink]="['/pays/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="heybusApp.pays.home.createLabel"> Create a new Pays </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pays?.length === 0">
    <span jhiTranslate="heybusApp.pays.home.notFound">No pays found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pays && pays.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.pays.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.pays.code">Code</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.pays.indicatif">Indicatif</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.pays.capitale">Capitale</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.pays.currency">Currency</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pays of pays; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pays', pays.id, 'view']">{{ pays.id }}</a>
          </td>
          <td>{{ pays.nom }}</td>
          <td>{{ pays.code }}</td>
          <td>{{ pays.indicatif }}</td>
          <td>{{ pays.capitale }}</td>
          <td>{{ pays.currency }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pays', pays.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/pays', pays.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pays)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
