<div class="row voyage-img">
  <span class="voyages-en-bus container" style="top: 155px; position: relative">Location de bus avec chauffeur</span>
</div>
<div style="background-color: #ffffff">
  <div class="container pb-5">
    <span class="voyages-en-bus">Location de bus avec chauffeur</span>
    <div class="row justify-content-center" style="margin-top: -160px">
      <!-- Formulaire Location -->
      <div class="col-md-7 search-shadow bg-white mt-5 pt-2">
        <div class="p-3">
          <div class="form-group ">
            <label for="">Nom de l'entreprise</label>
            <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="" />
          </div>
          <div class="form-group">
            <label for="">Adresse email*</label>
            <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="" />
          </div>
          <div class="form-group">
            <label for="">Numero téléphone</label>
            <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="" />
          </div>
          <div class="form-group">
            <label for="">Message</label>
            <textarea class="form-control" name="" id="" rows="4"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-reserver">Envoyer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <jhi-alert></jhi-alert>
</div>
