<div class="card jh-card">
  <h2 id="page-heading" data-cy="VoyageHeading">
    <span jhiTranslate="heybusApp.voyage.home.title">Voyages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="heybusApp.voyage.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-voyage"
        [routerLink]="['/voyage/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="heybusApp.voyage.home.createLabel"> Create a new Voyage </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="voyages?.length === 0">
    <span jhiTranslate="heybusApp.voyage.home.notFound">No voyages found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="voyages && voyages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDeVoyage">
            <span jhiTranslate="heybusApp.voyage.dateDeVoyage">Date De Voyage</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prix"><span jhiTranslate="heybusApp.voyage.prix">Prix</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nbrePlace">
            <span jhiTranslate="heybusApp.voyage.nbrePlace">Nbre Place</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresseDepart">
            <span jhiTranslate="heybusApp.voyage.adresseDepart">Adresse Depart</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresseArrive">
            <span jhiTranslate="heybusApp.voyage.adresseArrive">Adresse Arrive</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <!-- <th scope="col" jhiSortBy="quartier">
            <span jhiTranslate="heybusApp.voyage.quartier">Quartier</span> <fa-icon icon="sort"></fa-icon>
          </th> -->
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="heybusApp.voyage.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="climatisation">
            <span jhiTranslate="heybusApp.voyage.climatisation">Climatisation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="wifi"><span jhiTranslate="heybusApp.voyage.wifi">Wifi</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="toilette">
            <span jhiTranslate="heybusApp.voyage.toilette">Toilette</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicule.reference">
            <span jhiTranslate="heybusApp.voyage.vehicule">Vehicule</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="departVille.nom">
            <span jhiTranslate="heybusApp.voyage.departVille">Depart Ville</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="arriveVille.nom">
            <span jhiTranslate="heybusApp.voyage.arriveVille">Arrive Ville</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="transporteur.nom">
            <span jhiTranslate="heybusApp.voyage.transporteur">Transporteur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voyage of voyages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/voyage', voyage.id, 'view']">{{ voyage.id }}</a>
          </td>
          <td>{{ voyage.dateDeVoyage | formatMediumDatetime }}</td>
          <td>{{ voyage.prix }}</td>
          <td>{{ voyage.nbrePlace }}</td>
          <td>{{ voyage.adresseDepart }}</td>
          <td>{{ voyage.adresseArrive }}</td>
          <!-- <td>{{ voyage.quartier }}</td> -->
          <td>{{ voyage.description }}</td>
          <td>{{ voyage.climatisation }}</td>
          <td>{{ voyage.wifi }}</td>
          <td>{{ voyage.toilette }}</td>
          <td>
            <div *ngIf="voyage.vehicule">
              <a [routerLink]="['/vehicule', voyage.vehicule?.id, 'view']">{{ voyage.vehicule?.reference }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="voyage.departVille">
              <a [routerLink]="['/ville', voyage.departVille?.id, 'view']">{{ voyage.departVille?.nom }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="voyage.arriveVille">
              <a [routerLink]="['/ville', voyage.arriveVille?.id, 'view']">{{ voyage.arriveVille?.nom }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="voyage.transporteur">
              <a [routerLink]="['/transporteur', voyage.transporteur?.id, 'view']">{{ voyage.transporteur?.nom }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/voyage', voyage.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/voyage', voyage.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(voyage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="voyages && voyages.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
