/* ==========================================================================
Main page styles
========================================================================== */

@font-face {
  font-family: 'Mulish';
  src: url('../../../../content/font/Mulish-VariableFont_wght.ttf');
}

.text-heybus {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #425486;
}
.text-black {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: black;
}
.shadow {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: none !important;
}
.btn-simple {
  width: auto;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #425486;
  color: #425486;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
}
.line {
  width: 0px;
  height: 61px;
  border: 1px solid #a1a9c3;
}
.line-horizontal {
  border: 1px dashed #f1f2f6;
  margin-bottom: 0px;
  margin-top: -10px;
}

.text-red {
  color: #ff1b2e;
}
.circle-left {
  background: #e5e5e5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: -25px;
}
.circle-right {
  background: #e5e5e5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: -25px;
  margin-top: -10px;
}
