<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="position">
      <h2 data-cy="positionDetailsHeading"><span jhiTranslate="heybusApp.position.detail.title">Position</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ position.id }}</span>
        </dd>
        <dt><span jhiTranslate="heybusApp.position.nom">Nom</span></dt>
        <dd>
          <span>{{ position.nom }}</span>
        </dd>
        <dt><span jhiTranslate="heybusApp.position.description">Description</span></dt>
        <dd>
          <span>{{ position.description }}</span>
        </dd>
        <dt><span jhiTranslate="heybusApp.position.reference">Reference</span></dt>
        <dd>
          <span>{{ position.reference }}</span>
        </dd>
        <dt><span jhiTranslate="heybusApp.position.niveau">Niveau</span></dt>
        <dd>
          <span>{{ position.niveau }}</span>
        </dd>
        <dt><span jhiTranslate="heybusApp.position.section">Section</span></dt>
        <dd>
          <div *ngIf="position.section">
            <a [routerLink]="['/section', position.section?.id, 'view']">{{ position.section?.nom }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/position', position.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
