<div class="card jh-card">
  <h2 id="page-heading" data-cy="IncidentHeading">
    <span jhiTranslate="heybusApp.incident.home.title">Incidents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="heybusApp.incident.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-incident"
        [routerLink]="['/incident/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="heybusApp.incident.home.createLabel"> Create a new Incident </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="incidents?.length === 0">
    <span jhiTranslate="heybusApp.incident.home.notFound">No incidents found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="incidents && incidents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.incident.gravite">Gravite</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.incident.chauffeur">Chauffeur</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.incident.responsableincident">Responsableincident</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.incident.reporteurincident">Reporteurincident</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.incident.vehicule">Vehicule</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incident of incidents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/incident', incident.id, 'view']">{{ incident.id }}</a>
          </td>
          <td>{{ incident.gravite }}</td>
          <td>{{ incident.chauffeur }}</td>
          <td>{{ incident.responsableincident }}</td>
          <td>{{ incident.reporteurincident }}</td>
          <td>
            <div *ngIf="incident.vehicule">
              <a [routerLink]="['/vehicule', incident.vehicule?.id, 'view']">{{ incident.vehicule?.reference }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/incident', incident.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/incident', incident.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(incident)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
