<div class="container p-4">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center pb-5">
      <h3 class="text-heybus">Comment ça marche ?</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center pb-5">
      <h5 class="text-heybus">1</h5>
      <span class="img-voyage"></span><br>
      <h5 class="text-blueheybus">Postez votre voyage</h5>

      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, eaque. Beatae, ratione facilis
      exercitationem adipisci sequi, voluptatibus, excepturi eaque in minus consequuntur sed consectetur dolor hic iste!
      Fugiat, totam debitis!
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center pb-5">
      <h5 class="text-heybus">2</h5>
      <span class="img-employe"></span><br>
      <h5 class="text-blueheybus">Gérez vos véhicules et vos employés</h5>

      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, eaque. Beatae, ratione facilis
      exercitationem adipisci sequi, voluptatibus, excepturi eaque in minus consequuntur sed consectetur dolor hic iste!
      Fugiat, totam debitis!
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center pb-5">
      <h5 class="text-heybus">3</h5>
      <span class="img-argent"></span><br>
      <h5 class="text-blueheybus">Transfert de l'argent directement dur votre compte OM</h5>

      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, eaque. Beatae, ratione facilis
      exercitationem adipisci sequi, voluptatibus, excepturi eaque in minus consequuntur sed consectetur dolor hic iste!
      Fugiat, totam debitis!
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center pb-5">
      <h5 class="text-heybus">4</h5>
      <span class="img-incident"></span><br>
      <h5 class="text-blueheybus">Gérez les incidents survenus durant le voyage</h5>

      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, eaque. Beatae, ratione facilis
      exercitationem adipisci sequi, voluptatibus, excepturi eaque in minus consequuntur sed consectetur dolor hic iste!
      Fugiat, totam debitis!
    </div>
  </div>
</div>