<div class="footer">
<div style="background-color:  #F1F2F6;" class="p-3">
  <div class="container">
    <div class="row justify-content-center">
     <ul class="list-group col-md-3">
       <li class="list-group-item font-bold">Votre voyage</li>
       <li class="list-group-item">Créer un compte</li>
       <li class="list-group-item">Télécharger l'application</li>
     </ul>
     <ul class="list-group col-md-3">
      <li class="list-group-item font-bold">HeyBus !</li>
      <li class="list-group-item">Â propos de nous</li>
      <li class="list-group-item">Nos valeurs</li>
      <li class="list-group-item">Condition de vente</li>
    </ul>
    <ul class="list-group col-md-3">
      <li class="list-group-item font-bold">Transporteurs</li>
      <li class="list-group-item">Comment ça marche ?</li>
      <li class="list-group-item">Gérer votre business</li>
    </ul>
    <ul class="list-group col-md-3">
      <li class="list-group-item font-bold">Service client</li>
      <li class="list-group-item">Contactez-nous</li><br>
      <li class="list-group-item font-bold">Nous suivre</li>
      <li class="list-group-item">
        <span class="img-facebook"></span>
        <span class="img-twitter"></span>
        <span class="img-linkdin"></span>
 
      </li>
    </ul>
    </div>
  </div>
</div>
<div style="background-color:  #ffffff; color: #425486;" class="p-3">
  <div class="container">
    <div class="row">
    <div class="col-md-2">
      <a routerLink="/">
        <span class="logo-img"></span>
      </a>
    </div>
     <div class="col-md-10 mt-2">
      <span class="mr-4">Mentions légales</span>
      <span class="mr-4">Conditions d'utilisation</span>
      <span class="mr-4">Confidentialité</span>
     </div>
      
    </div>
  </div>
</div>
</div>
