/* ==========================================================================
Main page styles
========================================================================== */
.form-check-input {
  width: 25px;
  height: 25px;
  background: #f1f2f6;
  border-radius: 50%;
}
.img-visa {
  width: 60px;
  height: 20px;
  background: url('../../../../content/images/visa.png') center center no-repeat;
  background-size: contain;
  display: inline-block;
}
.img-apay {
  width: 60px;
  height: 20px;
  background: url('../../../../content/images/apple_pay.png') center center no-repeat;
  background-size: contain;
  display: inline-block;
}
.img-om {
  width: 107.22px;
  height: 25px;
  background: url('../../../../content/images/orange-money.png') center center no-repeat;
  background-size: contain;
  display: inline-block;
}
@font-face {
  font-family: 'Mulish';
  src: url('../../../../content/font/Mulish-VariableFont_wght.ttf');
}

.text-heybus {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #425486;
}
.breadcrumb-item {
  font-family: 'Mulish';
  font-style: normal;
  font-size: 14px; 
  line-height: 20px;
  color: #425486;
}
.text-black {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: black;
}
// .shadow-voyage {
//   background: #ffffff;
//   border-radius: 8px;
//   box-shadow: none !important;
// }
.shadow {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(19, 51, 104, 0.2) !important;

}
.search-shadow {
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(19, 51, 104, 0.2) !important;
}
.breadcrumb-item::before {
  content: ">";
}
.btn-reserver {
  width: 162px;
  height: 47px;
  border-radius: 8px;
  background-color: #ff1b2e;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}

.line {
  width: 0px;
  height: 61px;
  border: 1px solid #a1a9c3;
}
.line-horizontal {
  border: 1px dashed #f1f2f6;
  margin-bottom: 0px;
  margin-top: -10px;
}
.hr-horizontal {
  border: 1px solid #f1f2f6;
}
.text-danger {
  color: #ff1b2e;
}
.circle-left {
  /*box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;*/
  background: #e5e5e5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: -25px;
}
.circle-right {
  background: #e5e5e5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: -25px;
  margin-top: -10px;
}
