<div>
  <h2 id="page-heading" data-cy="RevenuHeading">
    <span jhiTranslate="heybusApp.revenu.home.title">Revenus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="heybusApp.revenu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-revenu"
        [routerLink]="['/revenu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="heybusApp.revenu.home.createLabel"> Create a new Revenu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="revenus?.length === 0">
    <span jhiTranslate="heybusApp.revenu.home.notFound">No revenus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="revenus && revenus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.revenu.date">Date</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.revenu.type">Type</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.revenu.montant">Montant</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.revenu.description">Description</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let revenu of revenus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/revenu', revenu.id, 'view']">{{ revenu.id }}</a>
          </td>
          <td>{{ revenu.date | formatMediumDate }}</td>
          <td>{{ revenu.type }}</td>
          <td>{{ revenu.montant }}</td>
          <td>{{ revenu.description }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/revenu', revenu.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/revenu', revenu.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(revenu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
