<div class="row justify-content-center" *jhiHasAnyAuthority="['ROLE_ADMIN']">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-incident-heading" data-cy="IncidentCreateUpdateHeading" jhiTranslate="heybusApp.incident.home.createOrEditLabel">
        Create or edit a Incident
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="heybusApp.incident.gravite" for="field_gravite">Gravite</label>
          <input type="text" class="form-control" name="gravite" id="field_gravite" data-cy="gravite" formControlName="gravite" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="heybusApp.incident.chauffeur" for="field_chauffeur">Chauffeur</label>
          <input type="text" class="form-control" name="chauffeur" id="field_chauffeur" data-cy="chauffeur" formControlName="chauffeur" />
          <div *ngIf="editForm.get('chauffeur')!.invalid && (editForm.get('chauffeur')!.dirty || editForm.get('chauffeur')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('chauffeur')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="heybusApp.incident.responsableincident" for="field_responsableincident"
            >Responsableincident</label
          >
          <input
            type="text"
            class="form-control"
            name="responsableincident"
            id="field_responsableincident"
            data-cy="responsableincident"
            formControlName="responsableincident"
          />
          <div
            *ngIf="
              editForm.get('responsableincident')!.invalid &&
              (editForm.get('responsableincident')!.dirty || editForm.get('responsableincident')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('responsableincident')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="heybusApp.incident.reporteurincident" for="field_reporteurincident"
            >Reporteurincident</label
          >
          <input
            type="text"
            class="form-control"
            name="reporteurincident"
            id="field_reporteurincident"
            data-cy="reporteurincident"
            formControlName="reporteurincident"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="heybusApp.incident.vehicule" for="field_vehicule">Vehicule</label>
          <select class="form-control" id="field_vehicule" data-cy="vehicule" name="vehicule" formControlName="vehicule">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="vehiculeOption.id === editForm.get('vehicule')!.value?.id ? editForm.get('vehicule')!.value : vehiculeOption"
              *ngFor="let vehiculeOption of vehiculesSharedCollection; trackBy: trackVehiculeById"
            >
              {{ vehiculeOption.reference }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
