/* ==========================================================================
Main page styles
========================================================================== */
.form-control {
  border-radius: 8px;
  height: 47px;
  background: #f1f2f6;
  color: #425486;
  border-radius: 8px;
  border: none;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
@font-face {
  font-family: 'Mulish';
  src: url('../../../../content/font/Mulish-VariableFont_wght.ttf');
}

.text-heybus {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #425486;
}
.text-black {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: black;
}
.shadow {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: none !important;
}
.search-shadow {
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(19, 51, 104, 0.2);
}
.btn-reserver {
  width: 162px;
  height: 47px;
  border-radius: 8px;
  background-color: #ff1b2e;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
.btn-simple {
  width: 162px;
  height: 47px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #425486;
  color: #425486;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
}
.line {
  width: 0px;
  height: 61px;
  border: 1px solid #a1a9c3;
}
.line-horizontal {
  border: 1px dashed #f1f2f6;
  margin-bottom: 0px;
  margin-top: -10px;
}
.text-danger {
  color: #ff1b2e;
}
.circle-left {
  background: #E5E5E5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: -25px;
}
.circle-right {
  background: #E5E5E5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: -25px;
  margin-top: -10px;
}