<div class="row voyage-img justify-content-center">
  <p class="voyages-en-bus font-weight-bold" style="position: relative; top:65%">Voyages en bus pas chers à
    partir de 5000 FCFA</p>
   
  

    <!-- Formulaire Voyage Simple-->

      <div class="col-md-11 shadow bg-white mt-5 pt-2" style="position: relative; left: 5%; top:55%" *ngIf=" valeurVoyage ==1">

        <form name="editForm" role="form" novalidate [formGroup]="editForm">
          <div class="form-group" [hidden]="!editForm.get('id')!.value">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
          </div>
          <div class="row ml-1 pt-2">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="option1" checked (click)="voyageSimple()"
                style="
               position: absolute;
               width: 17px;
               height: 17px;
               top: 5px;
               background: #a1a9c3;"
                > <span style="color: #a1a9c3;
                font-family: Muli;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0;
                position: relative;
                left: 20px;">Aller simple </span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                id="inlineRadio2"
                value="option2"
               (click)="voyageAllerRetour()"
               style="
               position: absolute;
               width: 17px;
               height: 17px;
               left: 18px;
               top: 5px;
               
               background: #a1a9c3;"> <span style=" color: #a1a9c3;
                font-family: Muli;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0;
                position: relative;
                left: 36px;"> Aller-retour</span>
              </label>
            </div>
          </div>
    
          <div class="row pt-3">
    
            <div class="col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <fa-icon icon="circle"></fa-icon>
                  </span>
                </div>
                <select class="form-control" id="field_departVille" name="departVille" formControlName="departVille"
                  aria-describedby="basic-addon1">
                  <option value="null">Ville de départ</option>
                  <option
                    [ngValue]="villeOption.id === editForm.get('departVille')!.value?.id ? editForm.get('departVille')!.value : villeOption"
                    *ngFor="let villeOption of villes">
                    {{ villeOption.nom }}
                  </option>
                </select>
              </div>
            </div>
            <div class="pt-3"><fa-icon icon="exchange-alt" class="fa"></fa-icon></div>
            <div class="col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon2">
                    <fa-icon icon="map-marker-alt"></fa-icon>
                  </span>
                </div>
                <select class="form-control" id="field_arriveVille" name="arriveVille" formControlName="arriveVille"
                  aria-describedby="basic-addon2">
                  <option value="null">Ville d'arrivée</option>
                  <option
                    [ngValue]="villeOption.id === editForm.get('arriveVille')!.value?.id ? editForm.get('arriveVille')!.value : villeOption"
                    *ngFor="let villeOption of villes">
                    {{ villeOption.nom }}
                  </option>
                </select>
              </div>
            </div>
    
    
            <div class="form-group col-md-3">
              <input id="field_dateDeVoyage" type="date" class="form-control" name="dateDeVoyage" min="{{ myDate }}"
                formControlName="dateDeVoyage" placeholder="YYYY/MM/DD" />
              <div
                *ngIf="editForm.get('dateDeVoyage')!.invalid && (editForm.get('dateDeVoyage')!.dirty || editForm.get('dateDeVoyage')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('dateDeVoyage')?.errors?.required"
                  jhiTranslate="entity.validation.required">
                  This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.get('dateDeVoyage')?.errors?.ZonedDateTimelocal"
                  jhiTranslate="entity.validation.ZonedDateTimelocal">
                  This field should be a date and time.
                </small>
              </div>
            </div>
    
            <div class="form-group col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <fa-icon icon="users"></fa-icon>
                  </span>
                </div>
                <input type="number" class="form-control" name="nbrePassagers" id="field_nbrePassagers"
                  data-cy="nbrePassagers" formControlName="nbrePassagers" min=1 placeholder="1 passager" value="1"/>
              </div>
    
              <div
                *ngIf="editForm.get('nbrePassagers')!.invalid && (editForm.get('nbrePassagers')!.dirty || editForm.get('nbrePassagers')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('nbrePassagers')?.errors?.required"
                  jhiTranslate="entity.validation.required">
                  This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.get('nbrePassagers')?.errors?.number"
                  jhiTranslate="entity.validation.number">
                  This field should be a number.
                </small>
              </div>
            </div>
            <div class="form-group col-md-2">
              <button type="submit" id="save-entity" class="btn btn-reserver" (click)="recherche()">
               <span>Rechercher</span>
              </button>
            </div>
          </div>
        </form>
      </div>


    <!-- Formulaire Voyage Aller Retour -->
      <div class="col-md-11 shadow bg-white mt-5 pt-2" style="position: relative; left: 5%; top:55%; height: 40%;" *ngIf=" valeurVoyage ==2">
  
        <form name="editForm" role="form" novalidate [formGroup]="editForm">
          <div class="form-group" [hidden]="!editForm.get('id')!.value">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
          </div>
          <div class="row ml-1 pt-2">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="option1" (click)="voyageSimple()"
                style="
               position: absolute;
               width: 17px;
               height: 17px;
               top: 5px;
               background: #a1a9c3;"
                > <span style="color: #a1a9c3;
                font-family: Muli;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0;
                position: relative;
                left: 20px;">Aller simple </span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                id="inlineRadio2"
                value="option2"
                checked
               (click)="voyageAllerRetour()"
               style="
               position: absolute;
               width: 17px;
               height: 17px;
               left: 18px;
               top: 5px;
               
               background: #a1a9c3;"> <span style=" color: #a1a9c3;
                font-family: Muli;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0;
                position: relative;
                left: 36px;"> Aller-retour</span>
              </label>
            </div>
          </div>
    
          <div class="row pt-3">
            <div class="col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <fa-icon icon="circle"></fa-icon>
                  </span>
                </div>
                <select class="form-control" id="field_departVille" name="departVille" formControlName="departVille"
                  aria-describedby="basic-addon1">
                  <option value="null">Ville de départ</option>
                  <option
                    [ngValue]="villeOption.id === editForm.get('departVille')!.value?.id ? editForm.get('departVille')!.value : villeOption"
                    *ngFor="let villeOption of villes">
                    {{ villeOption.nom }}
                  </option>
                </select>
              </div>
            </div>
            <div class="pt-3"><fa-icon icon="exchange-alt" class="fa"></fa-icon></div>
            <div class="col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon2">
                    <fa-icon icon="map-marker-alt"></fa-icon>
                  </span>
                </div>
                <select class="form-control" id="field_arriveVille" name="arriveVille" formControlName="arriveVille"
                  aria-describedby="basic-addon2">
                  <option value="null">Ville d'arrivée</option>
                  <option
                    [ngValue]="villeOption.id === editForm.get('arriveVille')!.value?.id ? editForm.get('arriveVille')!.value : villeOption"
                    *ngFor="let villeOption of villes">
                    {{ villeOption.nom }}
                  </option>
                </select>
              </div>
            </div>
    
    
            <div class="form-group col-md-3">
              <div class="container-fluid row form-group position-relative" style="right: 10%;">
                  <div class="col-9">
                  <input id="field_dateDeVoyage" type="date" class="form-control" name="dateDeVoyage" min="{{ myDate }}"
                  formControlName="dateDeVoyage" placeholder="24 juin 2021" style="width: 100%;"/>
                  </div>
                  <div><fa-icon icon="barcode" class="position-relative" style="text-align: center; right: 80%; width: 100%; font-size: xx-large;"></fa-icon></div>
                  <div class="col-9 position-relative" style="left: 60%; bottom: 47.5px;">
                  <input id="field_dateDeVoyage" type="date" class="form-control" name="dateDeVoyage" min="{{ myDate }}"
                  formControlName="dateDeVoyage" placeholder="12 juillet 2021" style="width: 100%;"/>
                  </div>
              </div>
              <div
                *ngIf="editForm.get('dateDeVoyage')!.invalid && (editForm.get('dateDeVoyage')!.dirty || editForm.get('dateDeVoyage')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('dateDeVoyage')?.errors?.required"
                  jhiTranslate="entity.validation.required">
                  This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.get('dateDeVoyage')?.errors?.ZonedDateTimelocal"
                  jhiTranslate="entity.validation.ZonedDateTimelocal">
                  This field should be a date and time.
                </small>
              </div>
            </div>
    
            <div class="form-group col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <fa-icon icon="users"></fa-icon>
                  </span>
                </div>
                <input type="number" class="form-control" name="nbrePassagers" id="field_nbrePassagers"
                  data-cy="nbrePassagers" formControlName="nbrePassagers" min=1 placeholder="1 passager" value="1"/>
              </div>
    
              <div
                *ngIf="editForm.get('nbrePassagers')!.invalid && (editForm.get('nbrePassagers')!.dirty || editForm.get('nbrePassagers')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('nbrePassagers')?.errors?.required"
                  jhiTranslate="entity.validation.required">
                  This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.get('nbrePassagers')?.errors?.number"
                  jhiTranslate="entity.validation.number">
                  This field should be a number.
                </small>
              </div>
            </div>
            <div class="form-group col-md-2">
              <button type="submit" id="save-entity" class="btn btn-reserver" (click)="recherche()">
               <span>Rechercher</span>
              </button>
            </div>
          </div>
        </form>
      </div>
</div>



<div class="col-md-12">
  <jhi-alert></jhi-alert>
</div>
