/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}

.text-heybus {
  color: #132968 !important;
}
.shadow {
  border-radius: 12px;
}
.form-control {
  border-radius: 8px;
  height: 47px;
  background-color: #f1f2f6;
  border: none;
}
.btn-reserver {
  height: 47px;
  width: 161px;
  border-radius: 8px;
  background-color: #ff1b2e;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  font-family: 'Calibri', Courier, monospace;
  text-align: center;
}
.btn-annuler{
  height: 47px;
  width: 161px;
  border-radius: 8px;
  background-color: #616060;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  font-family: 'Calibri', Courier, monospace;
  text-align: center;
}
.voyage-img {
  width: 100%;
  height: 350px;
  position: fixed;
  display: inline-block;
  vertical-align: middle;
  background: url('../../content/images/voyageimg.jpg') no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.voyages-en-bus {
  height: 44px;
  color: #FFFFFF;
  font-family: 'Helvetica';
  font-size: 32px;
  letter-spacing: 0;
  line-height: 44px;
}
