
<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4" jhiTranslate="home.title">Welcome, Heybus</h1>

    <!--p class="lead" jhiTranslate="home.subtitle">This is your homepage</p-->

    <!--div [ngSwitch]="isAuthenticated()">
          <div class="alert alert-success" *ngSwitchCase="true">
              <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                  [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
          </div>
      </div-->

    <div class="row">
      <div class="col-md-12">
        <jhi-alert></jhi-alert>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div>

          <form name="editForm" role="form" novalidate [formGroup]="editForm">
            <div class="form-group" [hidden]="!editForm.get('id')!.value">
              <label for="id" jhiTranslate="global.field.id">ID</label>
              <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
            </div>
            <h2 id="jhi-voyage-heading">Chercher un voyage</h2>

            <div>
              <jhi-alert-error></jhi-alert-error>
              

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="heybusApp.voyage.dateDeVoyage"
                  for="field_dateDeVoyage">Date De Voyage</label>
                <div class="d-flex">
                  <input id="field_dateDeVoyage" type="date" class="form-control" name="dateDeVoyage" min="{{ myDate }}"
                    formControlName="dateDeVoyage" placeholder="YYYY/MM/DD" />
                </div>
                <div *ngIf="
                    editForm.get('dateDeVoyage')!.invalid && (editForm.get('dateDeVoyage')!.dirty || editForm.get('dateDeVoyage')!.touched)
                  ">
                  <small class="form-text text-danger" *ngIf="editForm.get('dateDeVoyage')?.errors?.required"
                    jhiTranslate="entity.validation.required">
                    This field is required.
                  </small>
                  <small class="form-text text-danger"
                    [hidden]="!editForm.get('dateDeVoyage')?.errors?.ZonedDateTimelocal"
                    jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="heybusApp.voyage.departVille"
                  for="field_departVille">Depart Ville</label>
                <select class="form-control" id="field_departVille" name="departVille" formControlName="departVille">
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="villeOption.id === editForm.get('departVille')!.value?.id ? editForm.get('departVille')!.value : villeOption"
                    *ngFor="let villeOption of villes">
                    {{ villeOption.nom }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="heybusApp.voyage.arriveVille"
                  for="field_arriveVille">Arrive Ville</label>
                <select class="form-control" id="field_arriveVille" name="arriveVille" formControlName="arriveVille">
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="villeOption.id === editForm.get('arriveVille')!.value?.id ? editForm.get('arriveVille')!.value : villeOption"
                    *ngFor="let villeOption of villes">
                    {{ villeOption.nom }}
                  </option>
                </select>
              </div>
            </div>

            <div>
              <button type="submit" id="save-entity" class="btn btn-primary" (click)="recherche()">
                <fa-icon icon="save"></fa-icon>&nbsp;<span>Rechercher</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>