<div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TRANSPORTEUR']">
  <h2 id="page-heading" data-cy="VehiculeHeading">
    <span jhiTranslate="heybusApp.vehicule.home.title">Vehicules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="heybusApp.vehicule.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicule"
        [routerLink]="['/vehicule/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="heybusApp.vehicule.home.createLabel"> Create a new Vehicule </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicules?.length === 0">
    <span jhiTranslate="heybusApp.vehicule.home.notFound">No vehicules found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vehicules && vehicules.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.vehicule.reference">Reference</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.vehicule.numChassis">Num Chassis</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.vehicule.numCarteGrise">Num Carte Grise</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.vehicule.nbrePlace">Nbre Place</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.vehicule.marqueVoiture">Marque Voiture</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.vehicule.photo">Photo</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.vehicule.refcartetotal">Refcartetotal</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.vehicule.typemoteur">Typemoteur</span></th>
          <th scope="col"><span jhiTranslate="heybusApp.vehicule.transporteur">Transporteur</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicule of vehicules; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vehicule', vehicule.id, 'view']">{{ vehicule.id }}</a>
          </td>
          <td>{{ vehicule.reference }}</td>
          <td>{{ vehicule.numChassis }}</td>
          <td>{{ vehicule.numCarteGrise }}</td>
          <td>{{ vehicule.nbrePlace }}</td>
          <td>{{ vehicule.marqueVoiture }}</td>
          <td>{{ vehicule.photo }}</td>
          <td>{{ vehicule.refcartetotal }}</td>
          <td>{{ vehicule.typemoteur }}</td>
          <td>
            <div *ngIf="vehicule.transporteur">
              <a [routerLink]="['/transporteur', vehicule.transporteur?.id, 'view']">{{ vehicule.transporteur?.nom }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicule', vehicule.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vehicule', vehicule.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vehicule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
