<div class="row justify-content-center" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TRANSPORTEUR']">
  <div class="col-8">
    <div *ngIf="maintenance">
      <h2 data-cy="maintenanceDetailsHeading"><span jhiTranslate="heybusApp.maintenance.detail.title">Maintenance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ maintenance.id }}</span>
        </dd>
        <dt><span jhiTranslate="heybusApp.maintenance.date">Date</span></dt>
        <dd>
          <span>{{ maintenance.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="heybusApp.maintenance.type">Type</span></dt>
        <dd>
          <span>{{ maintenance.type }}</span>
        </dd>
        <dt><span jhiTranslate="heybusApp.maintenance.nbreKmMoteur">Nbre Km Moteur</span></dt>
        <dd>
          <span>{{ maintenance.nbreKmMoteur }}</span>
        </dd>
        <dt><span jhiTranslate="heybusApp.maintenance.vehicule">Vehicule</span></dt>
        <dd>
          <div *ngIf="maintenance.vehicule">
            <a [routerLink]="['/vehicule', maintenance.vehicule?.id, 'view']">{{ maintenance.vehicule?.reference }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/maintenance', maintenance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
